.aws/
# Ignoruj binarki Terraform
terraform
terraform.exe

# Ignoruj pliki cache i konfiguracji Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfvars
# Ignoruj katalogi __pycache__
__pycache__/

# Ignoruj pliki kompilowane .pyc
*.pyc

